<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="home.css">
    <title>E-Class || Home</title>
</head>
<body>
    <nav>
        <h1><a href="{% url 'home' %}">E-class</a></h1>
            <div class="buttons">
                <button><a href="{% url 'login' %}">Login</a></button>
            </div>
    </nav>
    <div class="container">
    <div class="land">
        <div id="text" onmouseover="change()" onmouseout="changeBack()">Bringing the Campus you love home. <br>
            E-Learning at it's best. <br>
            <a href="login.html">Join Now</a>
        </div>
        <div class="svg">
            <img src="laptop.svg">
        </div>
    </div>
    <!-- <h1>Ready to Grow?</h1> -->

</div>
<script>
function change(){
  document.getElementById("text").innerHTML = "First time user? Register Below.";
}
function changeBack(){
  document.getElementById("text").innerHTML = "Bringing the Campus you love home." <br>
      "E-Learning at it's best.";
}

</script>
</body>
</html>
